// Global.
// --------------------------------------------------------
* {margin: 0;padding: 0;}

html, body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  // background:
  //   radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9F7923 30%, #8A6E2F 40%, transparent 80%),
  //   radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1fba 62.5%, #5d4a1f 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {background: $gold-color-light;}

.page {
  color: #213547;
  background-color: $page-bg-color-light;
  transition: color $switch-mode-transition, background-color $switch-mode-transition;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.flex {
  display: flex;

  &.align-center {align-items: center;}
  &.justify-center {justify-content: center;}

  .grow {flex-grow: 1;}
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

// Main.
// --------------------------------------------------------
main {
  background: $page-bg-color-dark linear-gradient(175deg, $page-bg-color-dark 50%, rgba($page-bg-color-light, 7%));
  color: rgba(#fff, 0.8);
  transition: $switch-mode-transition;
  height: 100vh;

  .container > h2 {
    color: rgba(#fff, 0.8);
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .section {
    min-height: 60vh;
  }
}

ul.checklist {
  margin-top: 20px;
  list-style-type: none;
  text-align: left;

  li {
    position: relative;
    padding-left: 24px;

    &:before {
      content: '\e01b';
      position: absolute;
      top: 4px;
      left: 0;
      font-family: "richer" !important;
      line-height: 1;
      font-size: 1rem;
      color: #21ae3e;
    }
  }
}

// Dark theme.
// --------------------------------------------------------
// @media (prefers-color-scheme: dark)
.page.dark {
  color: rgba(#fff, 0.87);
  background-color: $page-bg-color-dark;

  ::selection {background-color: $gold-color-dark;}

  main {
    background: $page-bg-color-light linear-gradient(175deg, $page-bg-color-light 10%, rgba(229, 195, 133, 0.7));
    color: rgba(#000, 0.6);

    h2 {color: #000;}
  }
}
