// Richer content styling classes.
// --------------------------------------------------------
.r {
  &-underline {text-decoration: underline;}
  &-strikethrough {text-decoration: line-through;}

  &-align-left {text-align: left;}
  &-align-center {text-align: center;}
  &-align-right {text-align: right;}
  &-align-justify {text-align: justify;}

  @for $i from 1 through 8 {
    &-indent-#{$i} {padding-left: 3em * $i;}
  }
}
