:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {margin: 0;padding: 0;}

html, body {
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  place-items: center;
  min-height: 100vh;
  // background:
  //   radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9F7923 30%, #8A6E2F 40%, transparent 80%),
  //   radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1fba 62.5%, #5d4a1f 100%);
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

header {
  background: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  background-size: 200%;
  color: transparent;
  -webkit-background-clip: text;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 4px;
  letter-spacing: 1.5px;

}

.dollar, .catchphrase {
  background: inherit;
}

.dollar {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
}

.catchphrase {
  position: relative;
  // color: rgba(#000, 0.6);
  margin-bottom: 5.5rem;
  letter-spacing: -0.5px;
  font-size: 0.95rem;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 1.5rem;
    left: 50%;
    width: 8rem;
    height: 1px;
    transform: translateX(-50%);
    background: inherit;
  }
}

.richer.hero {
  position: relative;
  height: 200px;
  z-index: 1;
  background-color: rgba(#fff, 0.85);
}

@media (prefers-color-scheme: dark) {
  .richer.hero {background-color: rgba(rgb(34, 34, 34), 0.8);}
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}
