// Global.
// --------------------------------------------------------
* {margin: 0;padding: 0;}

html, body {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #fff;
  // background:
  //   radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9F7923 30%, #8A6E2F 40%, transparent 80%),
  //   radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1fba 62.5%, #5d4a1f 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {background: #e5c385;}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {color: #747bff;}
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

// Top bar.
// --------------------------------------------------------
.theme-switch {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  border-radius: 99rem;
  line-height: 0;
  background-color: rgba(#bf953f, 0.5);
  box-shadow: 1px 1px 3px #973 inset;
  cursor: pointer;

  .button {
    display: inline-flex;
    font-size: 18px;
    line-height: 1;
    margin: 2px;
    border: none;
    background: none;
    z-index: 1;
    color: rgba(#fff, 1);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &--active {color: #bf953f;}
  }

  .slider {
    position: absolute;
    border-radius: 99rem;
    left: 2px;
    height: 22px;
    width: 22px;
    background-color: rgba(#fff, 1);
    box-shadow: 0 0 3px rgba(#000, 0.15);
    transition: 0.3s ease-in-out;
  }

  .i-sun.button--active ~ .slider {transform: translateX(100%);}
}

// Header.
// --------------------------------------------------------
header {
  height: 100vh;
  display: flex;
  place-items: center;
}

h1, .dollar, .catchphrase {
  background: linear-gradient(120deg, #bf953f, #fee49b, #B38728, #FBF5B7, #AA771C);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 4px;
  letter-spacing: 1.5px;

}

.dollar {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  background-size: 600%;
}

.catchphrase {
  position: relative;
  margin-bottom: 7rem;
  letter-spacing: -0.5px;
  font-size: 0.95rem;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 2rem;
    left: 50%;
    width: 8rem;
    height: 0.5px;
    transform: translateX(-50%);
    background: linear-gradient(120deg, #bf953f, #fee49b, #B38728);
  }
}

.richer.hero {
  position: relative;
  height: 260px;
  z-index: 1;
  background-color: rgba(#fff, 0.85);
  box-shadow: 2px 2px 6px rgba(#000, 0.05);

  .button:focus, .button--active {
    border-color: #bf953f;
  }
  .button--active {
    color: #bf953f;

    &:after {display: none;}
  }
}

// Main.
// --------------------------------------------------------
ul.checklist {
  margin-top: 20px;
  list-style-type: none;
  text-align: left;

  li {
    position: relative;
    padding-left: 24px;

    &:before {
      content: '\e01b';
      position: absolute;
      top: 4px;
      left: 0;
      font-family: "richer" !important;
      line-height: 1;
      font-size: 1rem;
      color: #21ae3e;
    }
  }
}

// Media queries.
// --------------------------------------------------------
// @media (prefers-color-scheme: dark)
.page.dark {
  color: rgba(#fff, 0.87);
  background-color: #242424;

  ::selection {background-color: #82672b;}

  a:hover {
    color: #535bf2;
  }

  .theme-switch {
    box-shadow: 1px 1px 3px #403216 inset;

    .button {color: rgba(#000, 0.5);}
    .button--active {color: hsl(40, 30%, 53%)}
    .slider {background-color: #242424;}
  }

  .richer.hero {
    background-color: rgba(rgb(34, 34, 34), 0.8);
    box-shadow: 2px 2px 6px rgba(#000, 0.2);

    .button:focus, .button--active {
      border-color: #967738;
    }

    .button--active {color: #967738;}
  }
}
